# Arquivos de compilação Python
*.pyc

# Ambientes virtuais
venv/
env/
.venv/

node_modules/
*.log
__pycache__/

# Arquivos de configuração
*.cfg

.ts


# Arquivos de chave de API ou credenciais sensíveis

# Arquivos temporários
*.tmp

# Outros
.DS_Store
